.wrapper-home {
  width: 100%;
}
.wrapper-home-aboutus {
  background-image: url("https://res.cloudinary.com/rawwshak/image/upload/v1717084536/burger_bg_1_axmtai.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.col-1-aboutus {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.image-container {
    width: 100%;
    height: 100%;
    max-width: 500px; /* Puedes ajustar esto según tus necesidades */
    max-height: 850px; /* Puedes ajustar esto según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .responsive-image {
    width: 80%;
    height: 80%;
    object-fit: contain; /* Mantiene el aspecto de la imagen */
  }
  