/* NavBar.style.css */
.navbar {
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
}

.navbar-brand img {
  transition: width 0.3s ease, height 0.3s ease;
}

.navbar.scrolled .navbar-brand img {
  width: 100px;
  height: 100px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 1.5rem;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #F0542C !important;
}

.cart-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 50%;
}

.cart-icon-wrapper:hover {
  background-color: white;
  border-radius: 50%;
}

.cart-icon-wrapper i {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.cart-icon-wrapper:hover i {
  color: black;
}
