/* NavBar.style.css */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
}

.navbar-brand img {
  transition: width 0.3s ease, height 0.3s ease;
}

.navbar.scrolled .navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 1.5rem;
  margin-right: 30px;
  margin-left: 30px;
  
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f0542c !important;
  
}

.cart-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 50%;
}

.cart-icon-wrapper:hover {
  background-color: white;
  border-radius: 50%;
}

.cart-icon-wrapper i {
  font-size: 24px;
  color: white;
  transition: color 0.3s ease;
}

.cart-icon-wrapper:hover i {
  color: #f0542c;
}

.navbar-toggler-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
